<?php


return [

    "bot" => [

        "name" => "Geezus",
        "hostname" => "localhost",
        "key" => "",  // Set this key as the value for the X-Geezus-Key http header in Dialogflow
        "telegram_handle" => "",
        "twitter_handle" => ""

    ],

    "dialogflow" => [

        "iframe_url" => ""
    ],

    "coin-api" => [

        "key" => ""
    ]

];