<?php


return [

    "bot" => [

        "name" => "Geezus",
        "key" => ""  // Set this key as the value for the X-Geezus-Key http header in Dialogflow

    ],

    "dialogflow" => [

        "iframe_url" => ""

    ],

    "coin-api" => [

        "key" => ""
    ]

];